@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* ** color */
  --light: #f6f6f9;
  --primary: #1976d2;
  --dark-primary: #1a237e;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;

  /* ** transition */
  --transition: all 0.3s ease;

  /* ** spacing */
  --p-1: 8px;
  --p-2: 16px;
  --p-3: 24px;
  --p-4: 32px;

  /* ** size */
  --drawer-width: 250px;
  --drawer-mini-width: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}
body.dark img[src$="BLUE_LIGHT.png"] {
  content: url("img/reaxy_skins/BLUE_DARK.png");
  overflow: auto;
}

body {
  background: var(--grey);
  overflow-x: hidden;
  height: 100vh;
}

.snackbar {
  visibility: hidden;
  min-width: var(--drawer-width);
  background: var(--dark);
  color: var(--light);
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  transition: visibility 0.5s, opacity 0.5s;
}

.snackbar.show {
  visibility: visible;
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: var(--drawer-width);
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: var(--transition);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.close {
  width: 60px;
}

.sidebar .logo {
  font-size: var(--p-3);
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--primary);
  z-index: 500;
  padding-bottom: var(--p-3);
  box-sizing: content-box;
}

.sidebar .logo .logo-name span {
  color: var(--dark);
}

.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

/* .active {
  background: red;
} */

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: var(--transition);
}

.sidebar .side-menu li.active a {
  color: var(--success);
}

.sidebar.close .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: var(--transition);
}

.sidebar .side-menu li a i {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.sidebar .side-menu li a.logout {
  color: var(--danger);
}

.content {
  position: relative;
  width: calc(100% - 250px);
  left: 250px;
  transition: var(--transition);
}

.sidebar.close ~ main {
  width: calc(100% - 60px);
  position: fixed;
  left: 60px;
}

.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  z-index: 1000;
}

.sidebar.close ~ .content nav {
  position: fixed;
  width: calc(100% - 60px);
  left: 60px;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}
/* *******************************************++++++++++++++++++++++++++++++++++++++++++************************************************ */
.content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

.content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

.content nav form .form-input {
  display: none;
  align-items: center;
  height: 36px;
}

.content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

.content nav form .form-input button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.content nav .profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.content nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--primary);
  border-radius: 50%;
  transition: var(--transition);
}

.content nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content main {
  width: 100%;
  padding: 0 24px;
  max-height: calc(100vh - 56px);
  top: 80px;
  position: fixed;
  bottom: 24px;
  overflow: auto;
  transition: all 0.2s easy-in-out;

  max-width: calc(100% - 250px);
}

.sidebar.close ~ .content main {
  max-width: calc(100% - 60px);
  position: fixed;
  left: 60px;
  transition: all 0.2s easy-in-out;
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  background: var(--light);
  padding: 16px;
  margin: var(--p-3) 0 var(--p-3);
  border-radius: 16px;
}

.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary);
}

.content main .header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
  color: var(--dark);
}

.content main .header .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

.content main .header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: none;
}

.content main .header .report {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  font-weight: 500;
}

.content main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

.content main .insights li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}

.content main .insights li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
  background: var(--light-primary);
  color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
  background: var(--light-warning);
  color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
  background: var(--light-success);
  color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
  background: var(--light-danger);
  color: var(--danger);
}

.content main .insights li .info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.content main .insights li .info p {
  color: var(--dark);
}

.content main .card {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  width: 100%;
  color: var(--dark);
}

.content main .card > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  /* overflow-x: auto; */
}

.content main .card .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.content main .card .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}

.content main .card .header i {
  cursor: pointer;
  font-size: 70px;
  color: var(--success);
}

.content main .card {
  flex-flow: wrap;
  box-sizing: border-box;
  display: flex;
}

.content main .card .card-wrapper {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.create-container {
  display: flex;
  flex-direction: column;
}

.create-container img {
  max-width: 50%;
  object-fit: contain;
}

.card .card-wrapper .text-container {
  display: flex;
  flex-direction: column;
  padding: var(--p-2) 0 var(--p-2);
}

.card .card-wrapper .text-container a {
  color: var(--primary);
}

.card .card-wrapper .text-container li {
  padding-top: 16px;
  margin-left: 32px;
  list-style: square;
}

.card .card-wrapper .text-container > span {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--dark);
}

.card .card-wrapper .text-container button {
  background: transparent;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card .card-wrapper .text-container i {
  color: var(--success);
  font-size: 16px;
  width: 24px;
  transition: background-color 0.3s;
}

/* ** tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .text-to-copy:hover::before {
  content: "Copy by clicking the icon";
  background-color: var(--dark);
  color: var(--light);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.tooltip .text-to-copy:hover::before {
  visibility: visible;
  opacity: 1;
}
.content .code-block {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.content main .card .card-wrapper .grid-12 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.content main .card .card-wrapper .grid-12 img {
  width: 100%;
  object-fit: cover;
}

.content main .card .card-wrapper .grid-12 hr {
  margin: 16px 0 16px 0;
}
.content main .card .card-wrapper .grid-12 p {
  font-size: var(--p-2);
  font-weight: 600;
  /* color: var(--success); */
}

.content main .card .card-wrapper .grid-12 span {
  font-size: var(--p-2);
  font-weight: 500;
  color: var(--primary);
}

.content main .card .card-wrapper .grid-12 a {
  color: var(--primary);
  font-weight: 600;
}

.content main .card .card-wrapper .grid-12 .text-bottom h1 {
  margin: var(--p-3) 0;
  color: var(--success);
}

.content main .card .card-wrapper .grid-12 .text-bottom a {
  color: var(--primary);
}

/* grid 4 */
.content main .card .card-wrapper .grid-6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 10px;
}

.content main .card .card-wrapper .grid-6 .content-grid-6 {
  color: white;
  /* padding: 20px; */
  text-align: center;
}

.content main .card .card-wrapper span {
  background: var(--dark-grey);
  border-radius: 3px;
  padding: 2px;
}

.download-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.download-item {
  padding: 10px;
}

.box-end {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-grey);
  padding: 16px;
  align-items: center;
}

.box-end strong {
  color: var(--dark-primary);
}

.content main .card .card-wrapper .grid-6 img {
  display: flex;
  width: 100%;
  object-fit: cover;
  padding: 16px;
}

/* ** intro  */

.breadcrumb-img img {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .content {
    width: calc(100% - 60px);
    left: 200px;
  }
}

@media screen and (max-width: 576px) {
  .content nav form .form-input input {
    display: none;
  }

  .content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    color: var(--dark);
    border-radius: none;
  }

  .content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  .content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    color: var(--light);
    background: var(--danger);
    border-radius: 0 36px 36px 0;
  }

  .content nav form.show ~ .notif,
  .content nav form.show ~ .profile {
    display: none;
  }

  .content main .insights {
    grid-template-columns: 1fr;
  }

  .content main .card .header {
    min-width: 340px;
  }

  .content main .card .card-wrapper {
    min-width: 340px;
  }

  .content main .card {
    min-width: 340px;
  }

  .card .card-wrapper .grid-6 {
    width: 50%;
  }
}

/* * scroll */
::-webkit-scrollbar {
  z-index: 1000;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 1000;
  background: var(--light-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 1000;
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  z-index: 1000;
  background: var(--dark-primary);
}

/* scroll-to-top */
.scroll-box {
  display: none; 
  position: fixed;
  right: 20px;
  bottom: 20px; 
  transition: opacity 0.3s ease;
}

.scroll-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 16px;
  background: var(--dark-primary);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-box .scroll-to-top i {
  font-size: 24px;
  color: #fff;
}

/* Ekran yüksekliği 100px'den daha fazlaysa düğmeyi görünür yap */
@media screen and (min-height: 100px) {
  .scroll-box {
    display: block;
  }

  .scroll-to-top {
    opacity: 1;
  }
}
